{{!-- <strong>Hey, {{name}}!</strong>

Thanks for checking your email with information you may find to be important --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="header">
    <strong>Hey, {{name}}!</strong>
</h1>
<h2 class="body">Thanks for checking your email with information you may find to be important</h2>
<h3 class="disclaimer">I hope this time is the best time</h3>
</body>
</html>